@config "../js/main.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";   /*Can be any text*/
  src: url("../../assets/fonts/Poppins-ExtraBold.ttf");
}

body{
  font-family: "Poppins";
}