@config "../js/main.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins'; /*Can be any text*/
  src: url('../../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsMedium'; /*Can be any text*/
  src: url('../../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'PoppinsBold'; /*Can be any text*/
  src: url('../../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'NotoSans'; /*Can be any text*/
  src: url('../../assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'NotoSansBold'; /*Can be any text*/
  src: url('../../assets/fonts/NotoSans-Bold.ttf');
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html{
  scroll-behavior: smooth;
}

body,
div {
  animation: fadeInAnimation ease-in-out 0.5s;
  animation-iteration-count: 1;
  font-family: 'Poppins';
}

.modal-overlay {
  animation: fadeOutAnimation ease-in-out 0.5s;
  animation-iteration-count: 1;
}

.flex input:focus, .custom-input-wrapper:focus-within {
  box-shadow: 0 0 2px #ccc;
  @apply border-black border-[2px];
}

.flex button:focus {
  box-shadow: 0 0 2px transparent;
  @apply border-[0px]
}

.bg-primary:hover {
  @apply !bg-[#bf0d1f];
}

.custom-input input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-input input:focus {
  box-shadow: 0 0 0px #eb6448;
  @apply border-[0px];
}

.custom-dropdown {
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 0.75em 0.75em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  /* width: 100px; */
  @apply bg-dropdown inline-flex bg-gray-200 rounded-s-lg px-2 items-center text-[15px] text-gray-500 border-[1px] border-gray-300 border-e-0
}

ul>li>button:focus, .custom-input-wrapper:focus-within{
  @apply rounded-lg
}


body{
  font-family: "Poppins";
  background-color: rgb(251,251,251);
}


.style {
  font-size: 3000px;
}

.sidebar-accordion, .sidebar-title, .sidebar-title:focus {
  @apply !border-0 !bg-transparent !rounded-none !ring-0 !p-0 !divide-x-0 !divide-y-0
}
.sidebar-content {
  @apply !py-0
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.focus\:ring-4:focus{
  box-shadow:  0 0 0px #ccc!important;
}